<div class='home'>
	<div class='home_container'>
		<div class='play_button'>
			<div class='button_container'>
				<button class='btn btn-primary' id="btn" style='margin: 0 auto'>Play</button>
				<h3>Click the button to start!</h3>
			</div>
		</div>
		<div class = 'scores_container'>
			<span style='margin-left: 50%'>Search<input type='text' style=>
			<table class='table'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Score</th>
						<th>Percentage</th>
					</tr>
					<tr>
						<td>Name</td>
						<td>Name</td>
						<td>Name</td>
					</tr>

				</thead>
			</table>

		<div>
		
	</div>


</div>